$accent: #19adfe;
$dark: #2f2235;
$darkest: #161018;
$medium: #60495a;
$green: #7bc950;
$light: #eeeeee;
$orange: #f58f29;
$red: #ff101f;
$margin-large: 2.5rem;

button {
  font-size: 12px;
  font-weight: bold;
  min-height: 3em;
  margin: 0.2rem;
  padding: 0.5em 1em;
  text-transform: uppercase;
  color: lighten($accent, 80%);
  background-color: darken($accent, 15%);
  box-shadow: 1px 1px 4px $darkest;
  border-radius: 4px;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: $accent;
  }
  &.primary {
    color: lighten($accent, 80%);
    background-color: darken($accent, 15%);
    &:hover,
    &:focus {
      background-color: $accent;
    }
  }

  &.red {
    color: lighten($red, 80%);
    background-color: darken($red, 15%);
    &:hover,
    &:focus {
      background-color: $red;
    }
  }
  &.orange {
    color: lighten($orange, 90%);
    background-color: darken($orange, 20%);
    &:hover,
    &:focus {
      background-color: $orange;
    }
  }
  &.green {
    color: lighten($green, 80%);
    background-color: darken($green, 15%);
    &:hover,
    &:focus {
      background-color: $green;
    }
  }
  &.disabled {
    color: lighten($light, 20%);
    background-color: darken($light, 28%);
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none;
    &:hover,
    &:focus {
      background-color: darken($light, 28%);
    }
  }
  &.checkbox {
    background-color: $light;
    box-shadow: none;
    color: $dark;
    &:hover,
    &:focus {
      background-color: darken($light, 10%);
    }
    &.checked {
      background-color: darken($green, 20%);
      background-color: $dark;
      color: white;
    }
  }
}
